@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
/* Colors */

:root {
    --primary-color: #0052ff;
    --secondary-color: #1c3fa8;
    --light-color: #d7e5f3;

}


/* Basic */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    height: 90px;
    padding: 10px;

}

.navbar .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #d3d3d3;
    margin: 10px 0 0 0;
}

.logo {
    margin: 0 10px;
    gap: 10px;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar .container {
    justify-content: space-between;
}

.social {
    margin: 0 10px;
}

.social a {
    margin: 0 6px;
}

.social i {
    transition: transform 0.2s ease-in;
}

.social i:hover {
    transform: translateY(-5px);
}

.social i.fa-twitter {
    color:#00adee;
}

.social i.fa-facebook {
    color: #385998;
}

.social i.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Showcase */

.showcase {
    height: 750px;    
    position: relative;
    background-image: url("../images/showcase-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.showcase-text {
    width: 500px;
}

.showcase .flex {
    justify-content: flex-start;
  
}


.showcase-text p {
    margin: 45px 0;
}

.showcase-text h1 {
    white-space: nowrap;
  }

/* Steps */

.steps {
    background-color: var(--light-color);
}

.steps .flex div {
    max-width: 320px;
    margin: 0 10px;
    position: relative;

}

.steps .flex div:after {
    content : "";
    position: absolute;
    left    : 137px;
    right: 125px;
    bottom  : 0;
    height  : 1px;
    width   : 15%;  /* or 100px */
    border-bottom:3px solid var(--primary-color);
  }

.steps .flex {
    flex: 1 1 0;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

.steps h2 {
    white-space: nowrap;
}

.steps .sd {
    width: 100%;
    height: 150px;
    margin: 20px 0 0 0;
}