@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

/* Colors */

:root {
    --primary-color: #0052ff;
    --secondary-color: #1c3fa8;
    --light-color: #d7e5f3;

}


/* Basic */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    height: 90px;
    padding: 10px;

}

.navbar .logo-text {
    font-size: 32px;
    font-weight: bolder;
    color: #d3d3d3;
    margin: 10px 0 0 0;
}

.logo {
    margin: 0 10px;
    gap: 10px;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar .container {
    justify-content: space-between;
}

.social {
    margin: 0 10px;
}

.social a {
    margin: 0 6px;
}

.social i {
    transition: transform 0.2s ease-in;
}

.social i:hover {
    transform: translateY(-5px);
}

.social i.fa-twitter {
    color:#00adee;
}

.social i.fa-facebook {
    color: #385998;
}

.social i.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Showcase */

.showcase {
    height: 750px;    
    position: relative;
    background-image: url("../images/showcase-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.showcase-text {
    width: 550px;
}

.showcase .flex {
    justify-content: flex-start;
  
}


.showcase-text p {
    margin: 45px 0;
    font-weight: 300;
}

.showcase-text h1 {
    white-space: nowrap;
  }

/* Steps */

.steps {
    background-color: var(--light-color);
}

.steps .flex div {
    max-width: 320px;
    margin: 20px;
    position: relative;
}

.steps .flex .text-center:after {
    content : "";
    position: absolute;
    left    : 135px;
    right: 125px;
    bottom  : 0;
    height  : 1px;
    width   : 15%;  /* or 100px */
    border-bottom:3px solid var(--primary-color);
  }

.steps .flex {
    flex: 1 1 0;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 80px;
}

.steps h2 {
    white-space: nowrap;
}

.steps .sm {
    width: 100%;
    height: 150px;
    margin: 40px 0 0 0;
}

/* About */

.about {
    background-color: var(--light-color);
}

.about .container {
    overflow: visible;
    flex-wrap: wrap;
}

.about img {
    height: 500px;
    width: 550px;
    flex-shrink: 1;
    transform: translate(-40px, 0px);
}

.about .card {
    min-width: 300px;
    width: 500px;
    height: 500px;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(80px, 150px);
    flex-basis: 450px;
    z-index: 1;
}

.about .card h1 {
    white-space: nowrap;
}

.about .card p {
    flex-basis: 400px;
}



/* Break */

.break {
    border-bottom: #d3d3d3 solid 1px;
    height: 400px;
}

.break .flex {
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.break > .container > .flex {
    width: 1000px;
    justify-content: flex-start;
    padding: 0 40px;
}

.break .flex p {
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

/* Projects */

.projects > .container.p-4 {
    margin-top: 80px;
    gap: 40px;
    max-height: 2000px;
    flex-wrap: wrap;
    overflow: visible;
}

.projects .house,
.house .projects-text {
    flex-direction: column;
    align-items: flex-start;
}

.projects .house {
    min-width: 300px;
    height: 500px;
    max-width: 300px;
    border: 1px #d3d3d3 solid;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
}
.projects .house > img {
    height: 100%;
    width: 100%;
}

.projects .house > .projects-text {
    height: 200px;
    padding: 30px 30px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.projects .house p {
    font-style: italic;
    font-weight: lighter;
    color: #a8a4a4;
}

.projects .credit {
    justify-content: flex-end;
    max-width: 1200px;
}

.projects .credit > .flex {
    margin-right: 100px;
    padding: 0 20px;
    width: 400px;
    justify-content: flex-end;
}


/* Creator */

.creator {
    background-color: #ffe6e6;
    height: 2000px;
}

.creator > .flex {
    flex-direction: column;
    overflow: visible;
}

.creator .creator-title {
    max-height: 50px;
    
}
.creator .creator-title h1 {
    text-transform: uppercase;
    font-family: 'Caprasimo', cursive;
    color: #ffffff;
}

.creator-intro .intro-text {
    height: 160%;
    max-width: 60%;
    width: 500px;
    z-index: 1;
    
}

.creator-intro .seperation,
.intro-img .seperation {
    max-width: 60%;
    height: 100%;
    width: 600px;
}

.creator .creator-intro.flex {
    align-items: flex-end;
    max-height: 350px;
}

.creator .creator-intro .card {
    transform: translate(100px, 300px)
}

.intro-img.flex {
    justify-content: flex-end;
    align-items: flex-start;
}

.creator .intro-img img {
    max-height: 800px;
    max-width: 60%;
}

/* Stats */



.stats {
    height: 600px;
}