@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* Colors */

:root {
    --primary-color: #0052ff;
    --secondary-color: #1c3fa8;
    --light-color: #d7e5f3;

}


/* Basic */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    height: 90px;
    padding: 10px;

}

.navbar .logo-text,
.footer .logo-text {
    font-size: 32px;
    font-weight: bolder;
    color: #bdbaba;
    margin: 10px 0 0 0;
}

.logo {
    margin: 0 10px;
    gap: 10px;
}

.navbar img,
.footer img {
    width: 50px;
    height: 50px;
}

.navbar .container {
    justify-content: space-between;
}

.social {
    margin: 0 10px;
}

.social a {
    margin: 0 6px;
}

.social i {
    transition: transform 0.2s ease-in;
}

.social i:hover {
    transform: translateY(-5px);
}

.social i.fa-twitter {
    color:#00adee;
}

.social i.fa-facebook {
    color: #385998;
}

.social i.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Showcase */

.showcase {
    height: 750px;    
    position: relative;
    background-image: url("../images/showcase-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.showcase-text {
    width: 550px;
}

.showcase .flex {
    justify-content: flex-start;
  
}


.showcase-text p {
    margin: 45px 0;
    font-weight: 300;
}

.showcase-text h1 {
    white-space: nowrap;
  }

/* Steps */

.steps {
    background-color: var(--light-color);
}

.steps .flex div {
    max-width: 320px;
    margin: 20px;
    position: relative;
}

.steps .flex .text-center:after {
    content : "";
    position: absolute;
    left    : 135px;
    right: 125px;
    bottom  : 0;
    height  : 1px;
    width   : 15%;  /* or 100px */
    border-bottom:3px solid var(--primary-color);
  }

.steps .flex {
    flex: 1 1 0;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 80px;
}

.steps h2 {
    white-space: nowrap;
}

.steps .sm {
    width: 100%;
    height: 150px;
    margin: 40px 0 0 0;
}

/* About */

.about {
    background-color: var(--light-color);
}

.about .container {
    overflow: visible;
    flex-wrap: wrap;
}

.about img {
    height: 500px;
    width: 550px;
    flex-shrink: 1;
    transform: translate(-40px, 0px);
}

.about .card {
    min-width: 300px;
    width: 500px;
    height: 500px;
    flex-direction: column;
    align-items: flex-start;
    transform: translate(80px, 150px);
    flex-basis: 450px;
    z-index: 1;
}

.about .card h1 {
    white-space: nowrap;
}

.about .card p {
    flex-basis: 400px;
}



/* Break */

.break {
    border-bottom: #d3d3d3 solid 1px;
    height: 400px;
}

.break .flex {
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.break > .container > .flex {
    width: 1000px;
    justify-content: flex-start;
    padding: 0 40px;
}

.break .flex p {
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}

.break-2 {
    border-bottom: #d3d3d3 solid 1px;
    height: 100px;
}

/* Projects */



.projects > .container.p-4 {
    margin-top: 80px;
    gap: 40px;
    max-height: 2000px;
    flex-wrap: wrap;
    overflow: visible;
}

.projects .house,
.house .projects-text {
    flex-direction: column;
    align-items: flex-start;
}

.projects .house {
    min-width: 300px;
    height: 500px;
    max-width: 400px;
    border: 1px #d3d3d3 solid;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1;
}
.projects .house > img {
    height: 100%;
    width: 100%;
}

.projects .house > .projects-text {
    height: 200px;
    padding: 30px 30px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.projects .house p {
    font-style: italic;
    font-weight: lighter;
    color: #a8a4a4;
}

.projects .credit {
    justify-content: flex-end;
    max-width: 1200px;
}

.projects .credit > .flex {
    margin-right: 100px;
    padding: 0 20px;
    width: 400px;
    justify-content: flex-end;
}


/* Creator */

.creator {
    background-color: #fad9d9;
    margin-top: 80px;
}

.creator > .flex {
    flex-direction: column;
    overflow: visible;
}

.creator .creator-title {
    max-height: 50px;
    margin-top: 160px;
}
.creator .creator-title h1 {
    text-transform: uppercase;
    font-family: 'Caprasimo', cursive;
    color: #ffffff;
    
}

.creator-intro .intro-text {
    height: 80%;
    max-width: 60%;
    width: 500px;
    z-index: 1;
    flex: 1 1 1;
}

.creator-intro .seperation,
.intro-img .seperation {
    max-width: 60%;
    height: 100%;
    width: 600px;
    flex: 2 2 0;
}

.creator .creator-intro.flex {
    align-items: flex-end;
    max-height: 350px;
    margin-top: 60px;
    margin-left: 60px;
}

.creator .creator-intro .card {
    transform: translate(100px, 300px);
    flex: 1 1 1;
}

.intro-img.flex {
    justify-content: flex-end;
    align-items: flex-start;
}

.creator .intro-img img {
    max-height: 800px;
    max-width: 60%;
    transform: translate(0px, -100px);
    flex: 0 1 1;
    min-width: 100px;
    border: 4px #ffffff solid;
}

.creator .creator-group {
    gap: 30px;
    flex-wrap: wrap;
    max-height: 700px;
    max-width: 1200px;
    margin: 40px 0;
    padding: 20px;
    flex-direction: column;
}

.creator .creator-group .group-title {
    height: 100px;
    width: 300px;
    gap: 30px;
    border: 4px #ffffff solid;
}

.creator .group-title h1 {
    text-transform: uppercase;
    font-family: 'Caprasimo', cursive;
    color: #ffffff;
}

.creator .creator-group img {
    height: 200px;
    width: 200px;
    border: 4px #ffffff solid;
    flex: 1 1 1;
}

.creator .creator-group .creator-img {
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: 1;
    min-width: 500px;
}




/* Stats */



.stats {
    max-height: 1600px;
}

.stats > .container {
    gap: 30px;
    flex-wrap: wrap;
}   

.stats .container .stat-card.flex {
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 380px;
    border: #ffffff 3px solid;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 1;
    text-align: center;
    
}

.stats .stat-card h1 {
    font-family: 'Archivo Black', sans-serif;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .stats .stat-card h1 {
    transition: --num 1.5s;
    counter-set: num var(--num);
    font: 800 64px system-ui;
    
  }

  .stats:hover .stat-card h1::after {
    content: counter(num);
  }

  .stats:hover .stat-card span {
    display: none;
  }


  .stats:hover .stat-card h1.hou-1{
    --num: 600;
  }
  .stats:hover .stat-card h1.hou-2 {
    --num: 900;
  }
  .stats:hover .stat-card h1.hou-3 {
    --num: 400;
  }


/* Form */


.hidden {
    visibility: hidden;
}

.form {
    background-color: #0052ff;
}


.form > .container.flex.py-4 {
    background-color: var(--primary-color);
    height: 200px;
    overflow: visible;
    max-width: 100%;
    margin: 0;
}


.form .container .card.showcase-form {
    box-shadow: none;
    min-width: 380px;
    max-height: 100%;
    margin-bottom: -300px;
    max-width: 100%;
    flex-grow: 1;
}

.form .bg-light {
    max-height: 1000px;
    min-height: 500px;
    max-width: 100%;
}

.form .contacts {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 40%;
}

.form .contacts p span {
    white-space: nowrap;
}

.form .contacts h3 {
    text-transform: uppercase;
}

.form .contacts h1 {
    font-size: 2.3rem;
    
}

.form .container.flex .form-container.flex {
    max-width: 1400px;
    margin: 0 auto;
    overflow: visible;
    padding: 0 40px;
    max-height: 500px;
    height: 500px;
    flex-grow: 1;
}

.form .form-container.flex .contacts .social > i {
    color: var(--primary-color);
}

.form .form-container.flex .contacts .social {
    flex-wrap: nowrap;
    flex-basis: 50px;
    gap: 20px;
    justify-content: flex-start;
}

.form .showcase-form form {
    flex-basis: 60%;
    padding: 30px;
    height: 100%;
}




.form .form-container .showcase-form .form-control {
    margin: 40px 0;
}

.form .form-container .showcase-form input[type='text'], 
.form .form-container .showcase-form input[type='email'] {
    border: 0;
    border-bottom: 2px solid #111111;
    width: 90%;
    padding: 8px;
    font-size: 20px;
}


.form .form-container .showcase-form .btn {
    margin: 30px 0;
    font-size: 16px;
}

/* Footer */

.footer {
    height: 200px;
    background-color: #464444;
}

.footer .container.flex.p-4 {
    flex-direction: column;
    align-items: flex-start;
}

.footer .container .copyright {
    color: #bdbaba;
    padding: 0 10px;
}

